button{
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 37px;
}
section{
    width: 500px;
}
ng-template{
    width: 200px;
}
.card-body{
    background-color: #EEECF8;
    border-color: #EEECF8;
}