<!-- //hard code
<h2>March-2024</h2>
<table bgcolor="lightgrey" align="center"
  cellspacing="21" cellpadding="21">
  <caption align="top">
  </caption>
  <thead>
      <tr>
          <th>
              Sun</th>
          <th>
              Mon</th>
          <th>
              Tue</th>
          <th>
              Wed</th>
          <th>
              Thu</th>
          <th>
              Fri</th>
          <th>
              Sat</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1<br/>
          23<span
          class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td>2<br/>
              27<span
              class="symbol">&deg;</span>C<br/>
              <img src="../../assets/images/113.webp"></td>
      </tr>
      <tr></tr>
      <tr>
          <td>3<br/>
              24<span
              class="symbol">&deg;</span>C<br/>
              <img src="../../assets/images/113.webp">
          </td>
          <td>4<br/>
              23<span
              class="symbol">&deg;</span>C<br/>
              <img src="../../assets/images/113.webp"></td>
          <td>5<br/>
              28<span
              class="symbol">&deg;</span>C<br/>
              <img src="../../assets/images/113.webp"></td>
          <td>6<br/>
              21<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/116.webp"></td>
          <td>7<br/>
              22<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td>8<br/>
              23<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td>9<br/>
              24<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/176.webp"></td>
      </tr>
      <tr>
          <td>10<br/>
              23<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td>11<br/>
              24<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/116 (1).webp"></td>
          <td>12<br/>
              27<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td>13<br/>
              25<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/116.webp"></td>
          <td>14<br/>
              24<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td>15<br/>
              23<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/266.webp"></td>
          <td>16<br/>
              22<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
      </tr>
      <tr>
          <td>17<br/>
              27<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td>18<br/>
              22<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/116.webp"></td>
          <td>19<br/>
              23<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td>20<br/>
              25<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td>21<br/>
              27<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td>22<br/>
              21<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/176.webp"></td>
          <td>23<br/>
              25<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
      </tr>
      <tr>
          <td>24<br/>
              22<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/176.webp"></td>
          <td>25<br/>
              23<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td>26<br/>
              22<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td>27<br/>
              23<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/266.webp"></td>
          <td>28<br/>
              28<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td>29<br/>
              25<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/116.webp"></td>
          <td>30<br/>
              26<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
      </tr>
      <tr>
          <td>31<br/>
              27<span
              class="symbol">&deg;</span>C<br/>
         <img src="../../assets/images/113.webp"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
  </tbody>
</table> -->

<!-- 
//reversing the data -->
<table bgcolor="lightgrey" align="center" cellspacing="21" cellpadding="21">
  <caption align="top">{{ locationData?.location?.name }} - Monthly
    Weather</caption>
  <thead>
    <tr>
      <th *ngFor="let dayHeader of days">{{ dayHeader }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="monthlyData">
      <ng-container *ngFor="let chunk of monthlyData.reverse() | chunk:7">
        <tr>
          <ng-container *ngFor="let getMonthlyData of chunk">
            <ng-container *ngIf="getMonthlyData.forecast">
              <ng-container
                *ngFor="let day of getMonthlyData.forecast.forecastday.slice(0, 7); let i = index">
                <td>
                  {{ day.date }}
                  <br />
                  {{ day.day.maxtemp_c }}°C
                  <br />
                  <img src="{{ day.day.condition.icon }}"
                    alt="{{ day.day.condition.text }}" />
                </td>
              </ng-container>
            </ng-container>
          </ng-container>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>

<!-- //for logic
<table bgcolor="lightgrey" align="center" cellspacing="21" cellpadding="21">
  <caption align="top">{{ locationData?.location?.name }} - Monthly Weather</caption>

  <thead>
    <tr>
      <th *ngFor="let dayHeader of days">{{ dayHeader }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let getMonthlyData of monthlyData.reverse(); let i = index">
      <ng-container *ngFor="let day of getMonthlyData.forecast.forecastday">
        <td *ngIf="getDayOfWeek(day.date) === days[i % 7]">
          {{ getDayOfWeek(day.date) }}
          <br />
          {{ day.day.maxtemp_c }}°C
          <br />
          <img src="{{ day.day.condition.icon }}" alt="{{ day.day.condition.text }}" />
        </td>
      </ng-container>
    </tr>
  </tbody>
</table> -->

<!-- 
<table bgcolor="lightgrey" align="center" cellspacing="21" cellpadding="21">
  <caption align="top">{{ locationData?.location?.name }} - Monthly Weather</caption>

  <thead>
    <tr>
      <th *ngFor="let dayHeader of days">{{ dayHeader }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let getMonthlyData of monthlyData.reverse()">
      <ng-container *ngFor="let day of getMonthlyData.forecast.forecastday">
        <td *ngIf="getDayOfWeek(day.date) === 'Sun'">{{ getDayOfWeek(day.date) }}</td>
        <td *ngIf="getDayOfWeek(day.date) === 'Mon'">{{ getDayOfWeek(day.date) }}</td>
        <td *ngIf="getDayOfWeek(day.date) === 'Tue'">{{ getDayOfWeek(day.date) }}</td>
        <td *ngIf="getDayOfWeek(day.date) === 'Wed'">{{ getDayOfWeek(day.date) }}</td>
        <td *ngIf="getDayOfWeek(day.date) === 'Thu'">{{ getDayOfWeek(day.date) }}</td>
        <td *ngIf="getDayOfWeek(day.date) === 'Fri'">{{ getDayOfWeek(day.date) }}</td>
        <td *ngIf="getDayOfWeek(day.date) === 'Sat'">{{ getDayOfWeek(day.date) }}</td>
      </ng-container>
    </tr>
  </tbody>
</table> -->
