table {
    border-collapse: collapse;
    background: white;
    color: black;
    height: 450px;
    width: 800px;
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: black;
}
th{
    color: white; 
    background: black;
    text-align: center;
}
td{
    text-align: center;
}
img{
    height: 50px;
    width: 50px;
}